@define-color bmw_light_blue #81c4ff;
@define-color bmw_dark_blue #16588e;
@define-color bmw_red #e7222e;
@define-color bg #141414;

* {
    color: white;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    border: none;
    text-shadow: none;
    box-shadow: none;
    background: transparent;
    transition: none;
}

/* 81C4FF - light blue */
/* 16588E - darker blue */
/* E7222E - red */
/* 141414 - black */

#waybar {
    font-family: sans-serif; /*, "AurulentSansM Nerd Font Propo" */
    font-size: 15px;
    font-weight: 500;
    background-image: url("real-carbon-fibre.png");
    background-color: black;
    background-size: 30px;
    background-position: center;
}

#tray {
    background-color: lime;
}


#custom-icon {
    background-image: url("bmw-32-white.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 26px;
    border-radius: 3px;
    color: white;
}


#custom-bottomright1,
#custom-bottomright2,
#custom-bottomright3,
#custom-bottomright4 {
    margin: 3px 0;
    padding: 0px;
    font-size: 18px;
}

.modules-left {
    padding: 0 4px;
    margin: 1px;
}


#custom-bottomright1 {
    color: @bmw_light_blue;
}


#workspaces {
    background-color: @bmw_light_blue;
    margin: 3px 0;
    min-width: 55px;
}

#taskbar {
    border: none;
    text-shadow: none;
    box-shadow: none;
}


#tasbar button {
    padding: 0 2px;
}


#taskbar button:hover {
    box-shadow: none;
    text-shadow: none;
}


#custom-bottomright2 {
    background-color: @bmw_light_blue;
    color: @bmw_dark_blue;
}


#taskbar {
    background-color: @bmw_dark_blue;
    margin: 3px 0;
}


#custom-bottomright3 {
    background-color: @bmw_dark_blue;
    color: @bmw_red;
}


#custom-wofi {
    background-color: @bmw_red;
    margin: 3px 0;
    padding: 0 7px 0 5px;
}


#custom-bottomright4 {
    background-color: @bmw_red;
    color: rgba(0,0,0,1);
}


/** Right Modules **/
.modules-right {
}

#custom-slash1,
#custom-slash2,
#custom-slash3 {
    font-size: 26px;
    font-weight: 900;
}

#custom-slash1 {
    color: @bmw_light_blue;
}

#custom-slash2 {
    color: @bmw_dark_blue;
}

#custom-slash3 {
    color: @bmw_red;
}

#pulseaudio {
    border-bottom: 3px solid @bmw_light_blue;
    padding: 0 10px;
    min-width: 55px;
}


#network {
    border-bottom: 3px solid @bmw_dark_blue;
    min-width: 90px;
    padding: 0 10px;
}


#clock {
    border-bottom: 3px solid @bmw_red;
    padding: 0 10px;
    font-size: 15px;
    min-width: 25px;
}