window.AudioMenu {
    background-color: black;
    border: 2px solid #FFFFFF ;
    border-radius: 10px;

    box {
        margin: 2px;
    }

    separator {
        color: white;
        min-height: 1px;
        margin: 5px 10px;
    }

}